<ion-view view-title="购物车">
  	<ion-nav-buttons side="left">
		<div class="ion-arrow-left-c button_left"></div>
  	</ion-nav-buttons>
  	<ion-nav-buttons side="right">
  		<button class="account">去结算</button>
  	</ion-nav-buttons>
  	<ion-content class="content">
  		<div class="con">
  			<h2 class="empty">您的购物车空空</h2>
	  		<div class="ima">
	  			<img src="img/wifi.png" alt="" />
	  		</div>
	  		<button ng-click="buy()" class="btn button button-assertive">
	  			去逛逛
			</button>
  		</div>
  	</ion-content>
</ion-view>
