<ion-view title="商品详情1">
	<ion-content>
		
	</ion-content>
	<!--<ion-tabs class="tabs-icon-top tabs-color-positive">
		<ion-tab title="介绍" ui-sref="tabs.first">
			<ion-nav-view name="a1"></ion-nav-view>
		</ion-tab>
		<ion-tab title="详情"ui-sref="tabs.first">
			<ion-nav-view name="a2"></ion-nav-view>
		</ion-tab>
		<ion-tab title="实拍" ui-sref="tabs.first">
			<ion-nav-view name="a3"></ion-nav-view>
		</ion-tab>
	</ion-tabs>-->
	<div class="tabs">
		  <a class="tab-item">
		    	介绍
		  </a>
		  <a class="tab-item">
		    	详情
		  </a>
		  <a class="tab-item">
		    	实拍
		  </a>
		</div>
</ion-view>

