<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script>
//			function add(){
//				for(var i = 0; i < 10; i ++){
//					(function(i){
//						setTimeout(function(){
//							console.log(i);
//						},10);
//					})(i)
//					
//				}
//			}

			//add();
			
			function Add(name,age){
				this.name = name;
				this.age = age;
			};
			
			function Two(name,age,sex){
				this.sex = sex;
				
			}
			
			var Two.protorype = new 
			
		</script>
	</body>
</html>
