<ion-view title="更多">
	<ion-nav-buttons>
		<div class="ion-arrow-left-c button_left"></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="list list-inset">
		    <div class="item more_list">
		      	常见问题
		    </div>
		    <div class="item more_list">
		      	系统设置
		    </div>
		    <div class="item more_list">
		      	软件更新
		    </div>
		    <div class="item more_list">
		      	扫二维码
		    </div>
		</div>
		<div class="list list-inset">
		    <div class="item more_list">
		      	我要提意见
		    </div>
		    <div class="item more_list">
		      	关于
		    </div>
		</div>
		<div class="exit">
			<button class="more_exit">退出登录</button>
		</div>
	</ion-content>
	
</ion-view>