<ion-view title="我的秀">
	<ion-nav-buttons side="left">
		<div class="ion-arrow-left-c button_left"></div>
  	</ion-nav-buttons>
	<ion-content class="own_content">
		<div class="item content_item">
		    <div class="own_imgleft">
		    	<img class="item_img" src="img/own.jpg">
		    </div>
		    <div class="own_imgright">
		    	<h2 class="tianxia">天下</h2>
		    	<button ui-sref="tabs.login" class="btn_left">登录</button>
		    	<button ui-sref="tabs.register" class="btn_right">注册</button>
		    </div>
		</div>
		<div class="list list-inset">
		    <div class="item list_all">
		      	我的订单
		    </div>
		    <div class="item list_all">
		      	我的优惠券
		    </div>
		    <div class="item list_all">
		      	浏览记录
		    </div>
		    <div class="item list_all">
		      	我的收藏
		    </div>
		</div>
	</ion-content>
</ion-view>